In [1]:
# Documentation of scipy liberay offical website: link

https://docs.scipy.org/doc/scipy/reference/stats.mstats.html#statistical-tests

In [2]:
#import pandas

In [3]:
import pandas as pd

In [4]:
#open excel flie

In [5]:
datasets=pd.read_excel("3. Descriptive Statistics.xlsx",sheet_name=0)

In [6]:
datasets

,ID,Gender,Birth Date,Education,JobCategory,CurrentSalary,After6Months,SalBegin,JobTime,PrevExep,Minority
0,3,f,07/26/1929,12,1,21450,16725.0,12000,98,381,0
1,4,f,04/15/1947,8,1,21900,17550.0,13200,98,190,0
2,8,f,1966-06-05 00:00:00,12,1,21900,15825.0,9750,98,0,0
3,9,f,01/23/1946,15,1,27900,20325.0,12750,98,115,0
4,10,f,02/13/1946,12,1,24000,18750.0,13500,98,244,0
...,...,...,...,...,...,...,...,...,...,...,...
469,464,m,03/20/1962,19,3,47550,40275.0,33000,64,27,0
470,465,m,07/20/1962,12,1,33900,25200.0,16500,64,106,0
471,470,m,01/22/1964,12,1,26250,21000.0,15750,64,69,1
472,471,m,1966-03-08 00:00:00,15,1,26400,21075.0,15750,64,32,1
473,472,m,02/21/1966,15,1,39150,27450.0,15750,63,46,0

In [7]:
datasets.head()

,ID,Gender,Birth Date,Education,JobCategory,CurrentSalary,After6Months,SalBegin,JobTime,PrevExep,Minority
0,3,f,07/26/1929,12,1,21450,16725.0,12000,98,381,0
1,4,f,04/15/1947,8,1,21900,17550.0,13200,98,190,0
2,8,f,1966-06-05 00:00:00,12,1,21900,15825.0,9750,98,0,0
3,9,f,01/23/1946,15,1,27900,20325.0,12750,98,115,0
4,10,f,02/13/1946,12,1,24000,18750.0,13500,98,244,0

In [8]:
datasets.isnull()

,ID,Gender,Birth Date,Education,JobCategory,CurrentSalary,After6Months,SalBegin,JobTime,PrevExep,Minority
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
469,False,False,False,False,False,False,False,False,False,False,False
470,False,False,False,False,False,False,False,False,False,False,False
471,False,False,False,False,False,False,False,False,False,False,False
472,False,False,False,False,False,False,False,False,False,False,False
473,False,False,False,False,False,False,False,False,False,False,False

In [9]:
datasets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474 entries, 0 to 473
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             474 non-null    int64
 1   Gender         474 non-null    object
 2   Birth Date     473 non-null    object
 3   Education      474 non-null    int64
 4   JobCategory    474 non-null    int64
 5   CurrentSalary  474 non-null    int64
 6   After6Months   474 non-null    float64
 7   SalBegin       474 non-null    int64
 8   JobTime        474 non-null    int64
 9   PrevExep       474 non-null    int64
 10  Minority       474 non-null    int64
dtypes: float64(1), int64(8), object(2)
memory usage: 40.9+ KB

In [10]:
datasets.mean()

ID                 237.500000
Education           13.491561
JobCategory          1.411392
CurrentSalary    34419.567511
After6Months     25717.827004
SalBegin         17016.086498
JobTime             81.109705
PrevExep            95.860759
Minority             0.219409
dtype: float64

In [11]:
datasets.describe()

,ID,Education,JobCategory,CurrentSalary,After6Months,SalBegin,JobTime,PrevExep,Minority
count,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000
mean,237.500000,13.491561,1.411392,34419.567511,25717.827004,17016.086498,81.109705,95.860759,0.219409
std,136.976275,2.884846,0.773201,17075.661465,12145.928474,7870.638154,10.060945,104.586236,0.414284
min,1.000000,8.000000,1.000000,15750.000000,12975.000000,9000.000000,63.000000,0.000000,0.000000
25%,119.250000,12.000000,1.000000,24000.000000,18468.750000,12487.500000,72.000000,19.250000,0.000000
50%,237.500000,12.000000,1.000000,28875.000000,21900.000000,15000.000000,81.000000,55.000000,0.000000
75%,355.750000,15.000000,1.000000,36937.500000,27262.500000,17490.000000,90.000000,138.750000,0.000000
max,474.000000,21.000000,3.000000,135000.000000,107490.000000,79980.000000,98.000000,476.000000,1.000000

In [12]:
datasets.var()

ID               1.876250e+04
Education        8.322339e+00
JobCategory      5.978403e-01
CurrentSalary    2.915782e+08
After6Months     1.475236e+08
SalBegin         6.194694e+07
JobTime          1.012226e+02
PrevExep         1.093828e+04
Minority         1.716309e-01
dtype: float64

In [13]:
datasets.corr()

,ID,Education,JobCategory,CurrentSalary,After6Months,SalBegin,JobTime,PrevExep,Minority
ID,1.000000,-0.057212,-0.013504,-0.095544,-0.064630,0.007812,-0.998186,-0.003417,-0.032338
Education,-0.057212,1.000000,0.513854,0.660559,0.669489,0.633196,0.047379,-0.252353,-0.132889
JobCategory,-0.013504,0.513854,1.000000,0.780115,0.792885,0.754662,0.005329,0.062645,-0.143781
CurrentSalary,-0.095544,0.660559,0.780115,1.000000,0.988099,0.880117,0.084092,-0.097467,-0.177337
After6Months,-0.064630,0.669489,0.792885,0.988099,1.000000,0.942671,0.052711,-0.053889,-0.175719
SalBegin,0.007812,0.633196,0.754662,0.880117,0.942671,1.000000,-0.019753,0.045136,-0.157598
JobTime,-0.998186,0.047379,0.005329,0.084092,0.052711,-0.019753,1.000000,0.002978,0.049501
PrevExep,-0.003417,-0.252353,0.062645,-0.097467,-0.053889,0.045136,0.002978,1.000000,0.144747
Minority,-0.032338,-0.132889,-0.143781,-0.177337,-0.175719,-0.157598,0.049501,0.144747,1.000000

# using scipy scientfic libeary for statstical test

In [14]:
# def created for checking hypothesis

In [15]:
import math
def check_HO_AND_HA(p):
    if p>=0.05:
        print("HO Accepted")
    elif p<0.05:
        print("HA Accepted")

In [16]:
check_HO_AND_HA

In [17]:
from scipy.stats import wilcoxon

## Wilcoxon Paired test:
Used to compare two paired samples.

Example:




     H0 â€“ There is no significant difference in the month  of CurrentSalary and After6Months.
     H1 - There is significant difference in the month  of CurrentSalary and After6Months.



    from scipy.stats import Wilcoxon
    stats, p = wilcoxon(dataset.TOTALCIN, dataset.TOTALCW2)

In [18]:
datasets.head()

,ID,Gender,Birth Date,Education,JobCategory,CurrentSalary,After6Months,SalBegin,JobTime,PrevExep,Minority
0,3,f,07/26/1929,12,1,21450,16725.0,12000,98,381,0
1,4,f,04/15/1947,8,1,21900,17550.0,13200,98,190,0
2,8,f,1966-06-05 00:00:00,12,1,21900,15825.0,9750,98,0,0
3,9,f,01/23/1946,15,1,27900,20325.0,12750,98,115,0
4,10,f,02/13/1946,12,1,24000,18750.0,13500,98,244,0

In [19]:
from scipy.stats import wilcoxon

In [20]:
state, p=wilcoxon(datasets.CurrentSalary,datasets.After6Months)

In [21]:
print(state,p)

0.0 2.2184966882780807e-79

In [22]:
#uusing hypo. fun

In [23]:
check_HO_AND_HA(2.2184966882780807e-79)

HA Accepted

# the hypothesis in test is:
## H1 - There is significant difference in the month  of CurrentSalary and After6Months.

## Friedman Test

It is used to compare more than two paired samples

Example:

    H0 - There is no significant difference in the calcium level of the patient intially, after 2 weeks and 4th week
    H1 - There is significant difference in the calcium level of the patient intially, after 2 weeks and 4th week
---

    from scipy.stats import friedmanchisquare

    stats, p = friedmanchisquare(dataset.TOTALCIN, dataset.TOTALCW2, dataset.TOTALCW4)

In [24]:
datasets.head()

,ID,Gender,Birth Date,Education,JobCategory,CurrentSalary,After6Months,SalBegin,JobTime,PrevExep,Minority
0,3,f,07/26/1929,12,1,21450,16725.0,12000,98,381,0
1,4,f,04/15/1947,8,1,21900,17550.0,13200,98,190,0
2,8,f,1966-06-05 00:00:00,12,1,21900,15825.0,9750,98,0,0
3,9,f,01/23/1946,15,1,27900,20325.0,12750,98,115,0
4,10,f,02/13/1946,12,1,24000,18750.0,13500,98,244,0

# In this sample not more than paired sample

## Mann-Whitney Test

It is used to compare two independent samples

Example:


5 stores release Design 1 and record their sales then release Design 2 and record their sales

    H0 - There is no significant difference in the sales of Design 1 and Design 2
    
    H1 - There is significant difference in the sales of Design 1 and Design 2
    
---

    from scipy.stats import mannwhitneyu
    stats , p = mannwhitneyu(dataset.Design1, dataset.Design2)

 **stats** - critical value (*can be used for citical value approach*)

 **p** - p value (*can be used for p value approach*)

In [25]:
datasets.head()

,ID,Gender,Birth Date,Education,JobCategory,CurrentSalary,After6Months,SalBegin,JobTime,PrevExep,Minority
0,3,f,07/26/1929,12,1,21450,16725.0,12000,98,381,0
1,4,f,04/15/1947,8,1,21900,17550.0,13200,98,190,0
2,8,f,1966-06-05 00:00:00,12,1,21900,15825.0,9750,98,0,0
3,9,f,01/23/1946,15,1,27900,20325.0,12750,98,115,0
4,10,f,02/13/1946,12,1,24000,18750.0,13500,98,244,0

In [26]:
from scipy.stats import mannwhitneyu

In [27]:
state,p =mannwhitneyu(datasets.Education,datasets.JobCategory)

In [28]:

print(f'{state}, and hypis  {p}')

0.0, and hypis  6.665218924410628e-168

# #Use function to check hypothesis

In [29]:
check_HO_AND_HA(6.665218924410628e-168)

HA Accepted

In [30]:
6.665218924410628e-168>0.05

False

# the hypothesis in test is
# #There is significant difference in the Education and JobCategory

## Kruskal-Wallis Test

It is used to compare more than two independent samples

Example:


5 stores release Design 1 and record their sales then release Design 2 and record their sales and do the same with Design 3
   
   H0 - There is no significant difference in the sales of Design 1, Design 2 and Design 3
    
    H1 - There is significant difference in the sales of Design 1, Design 2 and Design 3
---

    from scipy.stats import kruskal
    stats , p = mannwhitneyu(dataset.Design1, dataset.Design2, dataset.Design3)

In [31]:
from scipy.stats import kruskal

In [32]:
datasets.head()

,ID,Gender,Birth Date,Education,JobCategory,CurrentSalary,After6Months,SalBegin,JobTime,PrevExep,Minority
0,3,f,07/26/1929,12,1,21450,16725.0,12000,98,381,0
1,4,f,04/15/1947,8,1,21900,17550.0,13200,98,190,0
2,8,f,1966-06-05 00:00:00,12,1,21900,15825.0,9750,98,0,0
3,9,f,01/23/1946,15,1,27900,20325.0,12750,98,115,0
4,10,f,02/13/1946,12,1,24000,18750.0,13500,98,244,0

In [33]:
state ,p=kruskal(datasets.Education,datasets.JobCategory,datasets.JobTime)

In [34]:
print(state,p)

1288.8196710498964 1.3688767504785366e-280

In [35]:
p

1.3688767504785366e-280

In [36]:
check_HO_AND_HA(p)

HA Accepted

# Hence result is
## H1 - There is significant difference in the .Education and JobCategory and

## Chi Square Test

It is used to check the dependency of the variables and the variables should be categorical

**Drop the Null Values**   -    [use dopna() function]

    H0 - There is no dependency between Gender and Smoking

    H1 - There is dependency between Gender and Smoking
    
---
    
    from scipy.stats import chi2_contingency
    chitable = pd.crosstab(dataset.Gender, dataset.Smoking)
    chitable
    

    
    stats, p, dof, expected = chi2_contingency(chitable)
    stats, p

> **stats** - critical value (*can be used for citical value approach*)

> **p** - p value (*can be used for p value approach*)

In [38]:
from scipy.stats import chi2_contingency

In [40]:
chitable = pd.crosstab(datasets.Gender,datasets.JobCategory)
chitable

JobCategory    1   2   3
Gender
f            206   0  10
m            157  27  74

In [41]:
state,p,dof,expected = chi2_contingency(chitable)

In [45]:
print(state,p,dof,expected)

79.27713991826042 6.0980052820688386e-18 2 [[165.41772152  12.30379747  38.27848101]
 [197.58227848  14.69620253  45.72151899]]

In [46]:
p

6.0980052820688386e-18

In [47]:
check_HO_AND_HA(p)

HA Accepted

# Hence result is:
## There is dependency between Gender and JobCategory

# Parametric Tests

## One Sample T Test
It is used to compare sample mean with the population mean
Population mean will always be an assumption,
here assume the population mean is 65

    H0 - There is no significant difference between the mean of students height against population mean which is 65
    
    H1 - There is significant difference between the mean of students height against population mean which is 65
---

    from scipy.stats import ttest_1samp
    stats, p = ttest_1samp(dataset.Height, 65)
    stats, p

In [48]:
datasets.head()

,ID,Gender,Birth Date,Education,JobCategory,CurrentSalary,After6Months,SalBegin,JobTime,PrevExep,Minority
0,3,f,07/26/1929,12,1,21450,16725.0,12000,98,381,0
1,4,f,04/15/1947,8,1,21900,17550.0,13200,98,190,0
2,8,f,1966-06-05 00:00:00,12,1,21900,15825.0,9750,98,0,0
3,9,f,01/23/1946,15,1,27900,20325.0,12750,98,115,0
4,10,f,02/13/1946,12,1,24000,18750.0,13500,98,244,0

In [49]:
dataset=(datasets.Education).mean()

In [57]:
#dataset

In [58]:
from scipy.stats import ttest_1samp

In [62]:
stats, p = ttest_1samp(datasets.SalBegin, 65)

In [63]:
print(state,p)

79.27713991826042 6.0005234995591354e-180

In [64]:
check_HO_AND_HA(p)

HA Accepted

## H1 - There is significant difference between the mean of  SalBegin against population mean which is 65

## Two Sampled Paired T Test
It is used to compare mean of two paired samples

In [65]:
from scipy.stats import ttest_rel

In [66]:
datasets.head()

,ID,Gender,Birth Date,Education,JobCategory,CurrentSalary,After6Months,SalBegin,JobTime,PrevExep,Minority
0,3,f,07/26/1929,12,1,21450,16725.0,12000,98,381,0
1,4,f,04/15/1947,8,1,21900,17550.0,13200,98,190,0
2,8,f,1966-06-05 00:00:00,12,1,21900,15825.0,9750,98,0,0
3,9,f,01/23/1946,15,1,27900,20325.0,12750,98,115,0
4,10,f,02/13/1946,12,1,24000,18750.0,13500,98,244,0

In [67]:
stats, p = ttest_rel(datasets.After6Months,datasets.CurrentSalary)

In [68]:
print(state,p)

79.27713991826042 1.6101627485824983e-133

In [69]:
p

1.6101627485824983e-133

In [74]:
import math 
check_HO_AND_HA(p)

HA Accepted

# our result

##  H1 - There is significant difference in the mean of CurrentSalary	and After6Months

## Two-Sample Independent T Test

It is used to compare the mean of two independent samples

In [75]:
datasets.head()

,ID,Gender,Birth Date,Education,JobCategory,CurrentSalary,After6Months,SalBegin,JobTime,PrevExep,Minority
0,3,f,07/26/1929,12,1,21450,16725.0,12000,98,381,0
1,4,f,04/15/1947,8,1,21900,17550.0,13200,98,190,0
2,8,f,1966-06-05 00:00:00,12,1,21900,15825.0,9750,98,0,0
3,9,f,01/23/1946,15,1,27900,20325.0,12750,98,115,0
4,10,f,02/13/1946,12,1,24000,18750.0,13500,98,244,0

In [80]:
from scipy.stats import ttest_ind
stats, p = ttest_ind(datasets.Education,datasets.PrevExep)
stats, p

(-17.1401383696858, 1.4752150537885512e-57)

In [81]:
check_HO_AND_HA(p)

HA Accepted

# H1 -There is no significant difference in the mean of duration between Education and 	PrevExep