In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
# Load datasets

In [4]:
dataset=pd.read_csv("general_data.csv")

In [5]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

# Decision Tree Alogrithms

# EDA

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [7]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [8]:
dataset["Attrition"]=le.fit_transform(dataset["Attrition"])

In [9]:
dataset["BusinessTravel"]=le.fit_transform(dataset["BusinessTravel"])

In [10]:
dataset["EducationField"]=le.fit_transform(dataset["EducationField"])

In [11]:
dataset["Department"]=le.fit_transform(dataset["Department"])

In [12]:
dataset["Gender"]=le.fit_transform(dataset["Gender"])

In [13]:
dataset.dtypes

Age                          int64
Attrition                    int32
BusinessTravel               int32
Department                   int32
DistanceFromHome             int64
Education                    int64
EducationField               int32
EmployeeCount                int64
EmployeeID                   int64
Gender                       int32
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

# drop useless feactures

In [14]:
dataset2=dataset.drop(["StandardHours","Over18","EmployeeID","EmployeeCount"],axis=1)

In [15]:
dataset2.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,0,1,Healthcare Representative,Married,131160,1.0,11,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,0,1,Research Scientist,Single,41890,0.0,23,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,4,Sales Executive,Married,193280,1.0,15,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,3,Human Resources,Married,83210,3.0,11,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,1,Sales Executive,Single,23420,4.0,12,2,9.0,2,6,0,4

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=2)

In [33]:
dataset3=dataset2.dropna()

In [34]:
dataset4=dataset3.drop_duplicates()

In [35]:
dataset4.dtypes

Age                          int64
Attrition                    int32
BusinessTravel               int32
Department                   int32
DistanceFromHome             int64
Education                    int64
EducationField               int32
Gender                       int32
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
PercentSalaryHike            int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [37]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [50]:
feacture=['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'Gender',
       'JobLevel', 'MonthlyIncome',
       'NumCompaniesWorked', 'PercentSalaryHike',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [51]:
rf_model.fit(X=dataset4[feacture],y=dataset4["Attrition"])

RandomForestClassifier(max_features=2, n_estimators=1000, oob_score=True)

In [52]:
print(rf_model.oob_score_)

0.8408163265306122

In [57]:
for feature,imp in zip(feacture,rf_model.feature_importances_):

    print(feature,"        ",imp)

Age          0.10933659693491686
BusinessTravel          0.030670024418947343
Department          0.027972499836452645
DistanceFromHome          0.07872736499178232
Education          0.045491864119113476
EducationField          0.0452448033390085
Gender          0.02017211873514155
JobLevel          0.04173162456551471
MonthlyIncome          0.10651212031122081
NumCompaniesWorked          0.06147933454348188
PercentSalaryHike          0.07253454286628667
StockOptionLevel          0.03778209091338462
TotalWorkingYears          0.09373570735451062
TrainingTimesLastYear          0.04983524455057198
YearsAtCompany          0.07338422847274469
YearsSinceLastPromotion          0.046719757735842214
YearsWithCurrManager          0.058670076311079025

    Age          0.10933659693491686
    MonthlyIncome          0.106512120311220
    TotalWorkingYears          0.09373570735451062

In [58]:
from sklearn import tree

In [60]:
tree_model=tree.DecisionTreeClassifier(max_features=2,max_leaf_nodes=10)

In [69]:
predictor=pd.DataFrame([dataset4["Age"],dataset4["MonthlyIncome"],dataset4["TotalWorkingYears"]]).T
predictor

       Age  MonthlyIncome  TotalWorkingYears
0     51.0       131160.0                1.0
1     31.0        41890.0                6.0
2     32.0       193280.0                5.0
3     38.0        83210.0               13.0
4     32.0        23420.0                9.0
...    ...            ...                ...
2117  29.0        48050.0                9.0
2269  29.0        44340.0                7.0
2402  32.0        50030.0               10.0
2573  26.0        83800.0                8.0
2782  37.0        54840.0                7.0

[1470 rows x 3 columns]

In [70]:
tree_model.fit(X=predictor,y=dataset4["Attrition"])

DecisionTreeClassifier(max_features=2, max_leaf_nodes=10)

In [73]:
with open("Dtree.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["Education","CCAug","Income"],out_file=f)