In [1]:
%matplotlib inline
import pandas as pd

from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [2]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [3]:
import numpy as np

### How many movies are listed in the titles dataframe?

In [4]:
titles.shape

(244914, 2)

In [5]:
titles.columns

Index(['title', 'year'], dtype='object')

In [6]:
pd.Series.value_counts(titles.title)

Hamlet            20
Carmen            17
Macbeth           16
The Outsider      12
Maya              12
                  ..
Drejt Fundit       1
WOH!               1
Paddington 2       1
Yantok mindoro     1
Ella (II)          1
Name: title, Length: 223828, dtype: int64

### What are the earliest two films listed in the titles dataframe?

In [7]:
titles.head(2)

                title  year
0  Tasveer Mere Sanam  1996
1            Only You  1994

### How many movies have the title "Hamlet"?

In [8]:
pd.Series.value_counts(titles.title=='Hamlet')

False    244894
True         20
Name: title, dtype: int64

### How many movies are titled "North by Northwest"?

In [9]:
pd.Series.value_counts(titles.title=='North by Northwest')

False    244913
True          1
Name: title, dtype: int64

### When was the first movie titled "Hamlet" made?

In [10]:
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### List all of the "Treasure Island" movies from earliest to most recent.

### How many movies were made in the year 1950?

In [11]:
pd.Series.value_counts(titles.year==1950)

False    243801
True       1113
Name: year, dtype: int64

### How many movies were made in the year 1960?

In [12]:
pd.Series.value_counts(titles.year==1960)

False    243365
True       1549
Name: year, dtype: int64

### How many movies were made from 1950 through 1959?

In [15]:
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### In what years has a movie titled "Batman" been released?

### How many roles were there in the movie "Inception"?

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

### But how many roles in the movie "Inception" did receive an "n" value?

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent 1921 version of Hamlet?

### How many roles were credited in Branagh’s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were available for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?